<div class="text-center">
    <a href="event/{{event.id}}">
        <div class="well">
            <div class="row">
                <h2>{{event.name}}</h2>
            </div>
            <div class="row">
                <span>Date:</span>
                <span>{{event.date}}</span>
            </div>
            <div class="row">
                <span>Time:</span>
                <span>{{event.time}}</span>
            </div>
            <div class="row">
                <span>Address:</span>
                <span>{{event.location.address}}</span>
            </div>
            <div class="row">
                <span>&nbsp;</span>
                <span>{{event.location.city}}</span>
            </div>
            <div class="row">
                <span>&nbsp;</span>
                <span>{{event.location.province}}</span>
            </div>
        </div>
    </a>
</div>