<!DOCTYPE html>
<html lang="en" ng-app="eventsApp" ng-cloak>

<head>
    <meta charset="utf-8">
    <title>Event Details</title>
    <base href="/">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/lib/datePicker/jquery-ui.min.css">
    <link rel="stylesheet" href="/lib/upvote/jquery.upvote.css">

</head>

<body>
    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/newEvent">Create Event</a></li>
                        <li><a href="/events">List Events</a></li>
                    </ul>
                    <ul ng-controller="homeController" class="nav navbar-nav navbar-right">
                        <li ng-if="isLoggedIn != 0"><a href="/register">Register</a></li>
                        <li ng-if="isLoggedIn == 0" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{loggedInUsername}}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/changePassword">Change Password</a></li>
                                <li><a href="/editProfile">Edit Profile</a></li>
                                <li><a ng-click="logOut()">Logout</a></li>
                            </ul>
                        </li>
                        <li ng-if="isLoggedIn != 0"><a href="/login">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/newEvent">Create Event</a></li>
                    <li><a href="/events">List Events</a></li>
                    <li><a href="/register">Register</a></li>
                    <li ng-controller="homeController"><a ng-click="logOut()">Logout</a></li>
                </ul>
            </div>
        </div> -->

        <div ng-view></div>

        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <div class="row">&nbsp</div>
        <footer class="panel-footer navbar-fixed-bottom">
            <div class="text-center">
                <p class="text-muted">&copy Seavus</p>
            </div>
        </footer>
    </div>
    <script src="/lib/jquery-3.1.0.min.js"></script>
    <script src="/lib/upvote/jquery.upvote.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-route.min.js"></script>
    <script src="/lib/angular/angular-resource.min.js"></script>
    <script src="/lib/angular/angular-cookies.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/services/durationService.js"></script>
    <script src="/js/controllers/EventController.js"></script>
    <script src="/js/controllers/EditEventController.js"></script>
    <script src="/js/controllers/EventListController.js"></script>
    <script src="/js/controllers/EditProfileController.js"></script>
    <script src="/js/controllers/logInController.js"></script>
    <script src="/js/controllers/registerController.js"></script>
    <script src="/js/controllers/homeController.js"></script>
    <script src="/js/controllers/changePasswordController.js"></script>
    <script src="/js/directives/eventThumbnail.js"></script>
    <script src="/js/directives/upvote.js"></script>
    <script src="/js/directives/dateKeys.js"></script>
    <script src="/js/directives/spinnerDirective.js"></script>
    <script src="/js/directives/gravatar.js"></script>
    <script src="/js/directives/collapsable.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/services/GravatarUrlBuilder.js"></script>
    <script src="/js/services/EventData.js"></script>
    <script src="/js/services/userService.js"></script>
    <script src="/js/services/MD5.js"></script>
    <script src="/js/services/upVoteService.js"></script>
    <script src="/lib/datePicker/jquery-ui.min.js"></script>

</body>

</html>