<form name="changePassForm">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="form-signin-heading text-center">Change Password</h2>
            <p>&nbsp</p>
            <div class="col-md-8 col-md-offset-2"><label for="inputEmail" class="sr-only">Old Password</label>
                <input type="password" ng-model="user.oldPassword" id="oldPassword" class="form-control" placeholder="Old Password" required autofocus>
                <label for="inputPassword" class="sr-only">New Password</label>
                <input type="password" ng-model="user.newPassword" id="newPassword" class="form-control" placeholder="New Password" required>
                <input id="confirmPassword" type="password" ng-model="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
                <div class="col-md-10 col-md-offset-1 text-center">
                    <p class="text-danger" ng-bind="errorMessage"></p>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-lg btn-info btn-block" ng-click="submit(user, changePassForm)">Change Password</button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</form>