<div>
    <form name="editProfileForm" class="form-signin">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h2 class="form-signin-heading text-center">Edit Profile</h2>
                <p>&nbsp</p>
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-inline">
                                <label class="col-md-4">Name</label>
                                <input type="text" ng-model="profile.Name" class="form-control col-md-8" placeholder="name" required autofocus>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inline">
                                <label class="col-md-4">Surname</label>
                                <input type="text" ng-model="profile.Surname" class="form-control col-md-8" placeholder="surname">
                            </div>
                        </div>
                    </div>
                    <p>&nbsp</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-inline">
                                <label class="col-md-4">E-mail</label>
                                <input type="email" ng-model="profile.EMail" class="form-control col-md-8" placeholder="e-mail" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inline">
                                <label class="control-label col-sm-4">Date of Birth</label>
                                <input id="dateBirth" required class="form-control col-sm-8" type="text" date-keys ng-model="profile.BirthDate" placeholder="Date of Birth">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <p class="text-danger" ng-bind="errorMessage"></p>
                    </div>
                    <p>&nbsp</p>
                    <div class="modal fade" id="logInModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Enter Password</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <label for="inputPassword" class="sr-only">Current Password</label>
                                            <input type="password" ng-model="profile.password" id="inputPassword" class="form-control" placeholder="Current Password" required="" autofocus>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" ng-click="submit(profile, editProfileForm)" data-dismiss="modal">Confirm</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <p>&nbsp</p>
                    <div class="col-md-4 col-md-offset-4">
                        <!-- <button class="btn btn-lg btn-info btn-block" ng-click="submit(profile, editProfileForm)">Update</button> -->
                        <button type="button" class="btn btn-lg btn-info btn-block" data-toggle="modal" data-target="#logInModal">Update</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#dateBirth').datepicker();
</script>