<div>
    <h1 class="text-center">Events</h1>
    <hr/>
    <div>&nbsp</div>
    <div class="row">
        <div ng-show="$pending(events)" class="col-md-4 col-md-offset-4">
            <spinner />
        </div>
        <div class="col-md-6">
            <div ng-repeat="event in events" ng-if="$even">
                <event-thumbnail event="event" />
            </div>
        </div>
        <div class="col-md-6">
            <div ng-repeat="event in events" ng-if="$odd">
                <event-thumbnail event="event" />
            </div>
        </div>
    </div>
</div>