<div ng-show="$pending(event)" class="col-md-4 col-md-offset-4">
    <spinner />
</div>
<div class="row" ng-show="!$pending(event)">
    <div style="padding-left: 20px; padding-right: 20px">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <img class="img-responsive text-center" ng-src="{{event.imageUrl}}" alt="{{event.name}}" width="450" height="350">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2>{{event.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div><strong>Date:</strong> {{event.date}}</div>
                <div><strong>Time:</strong> {{event.time}}</div>
                <div><strong>Address:</strong> {{event.location.address}}</div>
                <div><strong>City:</strong> {{event.location.city}}</div>
                <div><strong>City:</strong> {{event.location.province}}</div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="form-inline row margin-bottom-10">
                                <label for="orderByFilter" class="col-sm-4">Order By</label>
                                <select required class="form-control col-sm-8" id="orderByFilter" ng-model="sortOrder">
                                <option value="name">Name</option>
                                <option value="-upVoteCount">Up Votes</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="form-inline row margin-bottom-10">
                                <label for="levelFilter" class="col-sm-4">Show Level</label>
                                <select required class="form-control col-sm-8" id="levelFilter" ng-model="query.level">
                                <option value="">All</option>
                                <option ng-repeat="lvl in levels track by $index" value="{{lvl}}">{{lvl}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3>Sessions</h3>
            </div>
        </div>
        <div class="text-center text-danger row" style="height:10px;">{{errorMessageVote}}</div>
        <hr/>
        <div class="row text-center" ng-repeat="session in event.sessions | orderBy:sortOrder | filter:query">
            <div class="col-sm-2">
                <upvote upvote="upVoteSession(session)" downvote="downVoteSession(session)" count="session.upVoteCount" />
            </div>
            <div class="col-sm-10">
                <collapsable title="{{session.name}}">
                    <h6 style="margin-top: -10px">{{session.creatorName}}</h6><br>
                    <span>Duration: {{session.duration | durations}}</span><br>
                    <span>Level: {{session.level}}</span>
                    <p>{{session.abstractText}}</p>
                </collapsable>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a class="btn btn-primary" href="edit/{{event.id}}">Edit Event</a>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a class="btn btn-default" href="events">Back To Events</a>
            </div>
        </div>
    </div>
</div>