<div>
    <form class="form-signin">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="form-signin-heading text-center">Sign in</h2>
                <p>&nbsp</p>
                <div class="col-md-8 col-md-offset-2"><label for="inputEmail" class="sr-only">Username</label>
                    <input type="text" ng-model="user.username" id="username" class="form-control" placeholder="username" required="" autofocus="">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" ng-model="user.password" id="inputPassword" class="form-control" placeholder="Password" required="">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <p class="text-danger" ng-bind="errorMessage"></p>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-lg btn-info btn-block" ng-click="submit()">Sign in</button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div ng-show="$pending(promise)" class="col-md-4 col-md-offset-4">
            <spinner />
        </div>
    </form>
</div>