<div ng-show="$pending(event)" class="col-md-4 col-md-offset-4">
    <spinner />
</div>
<div ng-show="!$pending(event)">
    <div style="padding-left: 20px; padding-right: 20px">
        <div class="container">
            <h2 class="text-center">Create Event</h2>
            <hr>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <img class="img-responsive text-center" ng-src="{{event.imageUrl}}" width="350" height="250">
                </div>
                <div class="col-md-4"></div>
            </div>
            <form name="newEventForm" class="form-group">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="padding-bottom-10">
                        <h3 class="text-center">Event Details</h3>
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="eventName" class="control-label col-sm-4">Name</label>
                        <input id="eventName" required class="form-control col-sm-8" type="text" ng-model="event.name" placeholder="Name of your Event.....">
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="eventDate" class="control-label col-sm-4">Date</label>
                        <input id="eventDate" required class="form-control col-sm-8" type="text" date-keys required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" placeholder="Date of your Event.....">
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="eventTime" class="control-label col-sm-4">Time</label>
                        <input id="eventTime" required class="col-sm-8 form-control" type="text" ng-model="event.time" placeholder="Time of your Event.....">
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="eventLocation" class="control-label col-sm-4">Location</label>
                        <input id="eventLocation" required class="form-control col-sm-8" type="text" ng-model="event.location.address" placeholder="Address of your Event.....">
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="eventCity" class="control-label col-sm-4">City</label>
                        <input id="eventCity" required class="form-control col-sm-8" type="text" ng-model="event.location.city" placeholder="City of your Event.....">
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="eventProvince" class="control-label col-sm-4">Province</label>
                        <input id="eventProvince" required class="form-control col-sm-8" type="text" ng-model="event.location.province" placeholder="Province of your Event.....">
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="eventImageUrl" class="control-label col-sm-4">Image</label>
                        <input id="eventImageUrl" required class="form-control col-sm-8" type="url" ng-model="event.imageUrl" placeholder="Image for your Event.....">
                    </div>
                </div>
            </form>
            <form name="sessionForm">
                <div class="col-md-5">
                    <div class="padding-bottom-10">
                        <h3 class="text-center">Session Details</h3>
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="sessionName" class="control-label col-sm-4">Session Name</label>
                        <input id="sessionName" required class="form-control col-sm-8" type="text" ng-model="session.name" placeholder="Name of your Session.....">
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="sessionCreatorName" class="control-label col-sm-4">Creator Name</label>
                        <input id="sessionCreatorName" required class="form-control col-sm-8" type="text" ng-model="session.creatorName" placeholder="Creator of your Session.....">
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="sessionDuration" class="col-sm-4">Duration</label>
                        <select required class="form-control col-sm-8" id="sessionDuration" ng-model='session.duration'>
                                        <option value="">Select Duration</option>
                                        <option ng-repeat="dur in durations track by $index" value="{{dur.key}}">{{dur.value}}</option>
                                    </select>
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="sessionLevel" class="col-sm-4">Level</label>
                        <select required class="form-control col-sm-8" id="sessionLevel" ng-model="session.level">
                                        <option value="">Select Level</option>
                                        <option ng-repeat="lvl in levels track by $index" value="{{lvl}}">{{lvl}}</option>
                                    </select>
                    </div>
                    <div class="form-inline row margin-bottom-10">
                        <label for="session" class="control-label col-sm-4">Abstract</label>
                        <textarea id="session" required class="form-control col-sm-8" type="text" ng-model="session.abstractText" placeholder="Abstract of your Session....."></textarea>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" ng-disabled="sessionForm.$invalid" ng-click="addSession(session, sessionForm)">Add Session</button>
                    </div>
                </div>
            </form>
            <div class="col-md-1"></div>
            <div class="col-md-12 row">
                <h3 class="text-center">Sessions</h3>
                <div class="margin-bottom-10"></div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Creator Name</th>
                                <th>Duration</th>
                                <th>Level</th>
                                <th>Abstract</th>
                                <th>Controls</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ses in event.sessions track by $index">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="ses.name"></td>
                                <td ng-bind="ses.creatorName"></td>
                                <td ng-bind="ses.duration"></td>
                                <td ng-bind="ses.level"></td>
                                <td ng-bind="ses.abstractText"></td>
                                <td>
                                    <button class="btn btn-primary btn-mini" ng-click="removeSession($index)">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        <br>
        <br>
        <div class="text-center">
            <button type="submit" ng-disabled="newEventForm.$invalid" class="btn btn-primary" ng-click="saveEvent(event, newEventForm)">Save</button>
            <button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
        </div>
    </div>

    <script type="text/javascript">
        $('#eventDate').datepicker();
    </script>
</div>