<div>
    <form class="form-signin" name="RegForm">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h2 class="form-signin-heading text-center">Register</h2>
                <p>&nbsp</p>
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset ng-class="RegForm.username.errorMessage ? 'has-error' : ''">
                                <div class="form-inline">
                                    <label class="control-label col-md-4">Username</label>
                                    <input name="username" type="text" ng-model="user.Username" class="form-control col-md-8" placeholder="Username" required autofocus>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <p class="text-center text-danger" ng-show="RegForm.username.errorMessage" ng-bind="RegForm.username.errorMessage"></p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset ng-class="RegForm.password.errorMessage ? 'has-error' : ''">
                                <div class="form-inline">
                                    <label class="control-label col-md-4">Password</label>
                                    <input name="password" type="password" ng-model="user.Password" class="form-control col-md-8" placeholder="password" required>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <p class="text-center text-danger" ng-show="RegForm.password.errorMessage" ng-bind="RegForm.password.errorMessage"></p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <p>&nbsp</p>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset ng-class="RegForm.name.errorMessage ? 'has-error' : ''">
                                <div class="form-inline">
                                    <label class="control-label col-md-4">Name</label>
                                    <input name="name" type="text" ng-model="user.Name" class="form-control col-md-8" placeholder="name" required>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <p class="text-center text-danger" ng-show="RegForm.name.errorMessage" ng-bind="RegForm.name.errorMessage"></p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset ng-class="RegForm.name.errorMessage ? 'has-error' : ''">
                                <div class="form-inline">
                                    <label class="control-label col-md-4">Surname</label>
                                    <input name="surname" type="text" ng-model="user.Surname" class="form-control col-md-8" placeholder="surname" required>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <p class="text-center text-danger" ng-show="RegForm.name.errorMessage" ng-bind="RegForm.name.errorMessage"></p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <p>&nbsp</p>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset ng-class="RegForm.email.errorMessage ? 'has-error' : ''">
                                <div class="form-inline">
                                    <label class="control-label col-md-4">E-mail</label>
                                    <input name="email" type="email" ng-model="user.EMail" class="form-control col-md-8" placeholder="e-mail" required>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <p class="text-center text-danger" ng-show="RegForm.email.errorMessage" ng-bind="RegForm.email.errorMessage"></p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset ng-class="RegForm.date.errorMessage ? 'has-error' : ''">
                                <div class="form-inline">
                                    <label class="control-label col-sm-4">Date</label>
                                    <input name="date" id="dateBirth" required class="form-control col-sm-8" type="text" date-keys ng-model="user.BirthDate" placeholder="Date of Birth">
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <p class="text-center text-danger" ng-show="RegForm.date.errorMessage" ng-bind="RegForm.date.errorMessage"></p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <p class="text-danger" ng-bind="errorMessage"></p>
                    </div>
                    <p>&nbsp</p>
                    <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn-lg btn-info btn-block" ng-click="submit()">Register</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#dateBirth').datepicker();
</script>